darkBlueColour = #254356
transitionColour1 = #5A717F
transitionColour2 = #909FA8
transitionColour3 = #C5CCD1
backgroundColour = #FAFAFA
commonTextColour = #777
secondaryTextColour = #AAA
fadedTextColour = #DDD
errorBorderColour = #DC3545
focusBorderColour = #008489
successBorderColour = #479030
