darkBlueColour = #254356
transitionColour1 = #5A717F
transitionColour2 = #909FA8
transitionColour3 = #C5CCD1
backgroundColour = #FAFAFA
commonTextColour = #777
secondaryTextColour = #AAA
fadedTextColour = #DDD
focusInputColour = #990
errorPanelColour = #DC3545
successPanelColour = #479030
errorDarkColour = mix(darkBlueColour, errorPanelColour)
successDarkColour = mix(darkBlueColour, successPanelColour)
errorLightColour = mix(transitionColour3, errorPanelColour)
successLightColour = mix(transitionColour3, successPanelColour)
