box-style()
    border-radius: 5px
    border: 2px solid transitionColour3
    box-sizing: border-box

label-style()
    width: 60px
    margin-right: 10px
    font-size: 11px
    float: left
    text-align: right