box-style()
	border-radius: 5px
	border: 2px solid transitionColour3
	box-sizing: border-box

label-style()
	width: 60px
	margin-right: 10px
	font-size: 11px
	float: left
	text-align: right

cta-style()
	font-size: 24px;
	display: block;
	font-weight: bold;
	margin: 10px 0 0 70px;
	width: 232px;
	height: 64px;
	background-color: darkBlueColour;
	color: #fff;
	border-radius: 5px;