@import "_colours.styl"

h1
	font-size: 20px
	text-align: right

.header-container
	background: darkBlueColour
	color: #fff
	width: 100%
	min-height: 70px

	h1
		text-align: left
		color: #fff

	.header-content
		display: flex
		flex-direction: row
		width: 75%
		margin: 0px auto
		padding-top: 1%
