@import "_colours.styl"

h1
	font-size: 20px
	text-align: right

.header-container
	background: darkBlueColour
	width: 100%
	position: relative
	border-bottom: 8px solid transitionColour1

	h1
		text-align: left
		color: transitionColour1
		font-size: 70px
		letter-spacing: -.05em
		margin-left 50px
		height 62px
		overflow: hidden

	nav
		display: block
		background: transitionColour1
		padding: 5px 8px
		list-style: none
		padding 18px 0 0 45px
		height 32px
		a, button
			color: darkBlueColour
			letter-spacing: 2px
			font-size: 12px
			text-transform: uppercase
			text-decoration: none
			display block
			float left
			margin-right 20px
			padding 6px 10px 20px;
			border-radius: 5px 5px 0 0;

			&:hover
				color: white

			&.is-active
				background: transitionColour2
			
		button
			background: transparent;
			cursor: pointer;
			float: right;

		&.unlogged
			height: 1px;