.header-container {
  background: #254356;
  color: #fff;
  width: 100%;
  min-height: 70px;
}

.header-container h1 {
  text-align: left;
  color: #fff;
}

.header-container .header-content {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 0px auto;
  padding-top: 1%;
}
