@import "_colours.styl"
@import "_standards.styl"

.gauges
    box-style()
    padding: 9px 10px 6px
    width: 245px
    text-align: right
    margin: 10px 0
    overflow: hidden

    span
        font-size: 12px
        color: transitionColour2;
        strong
            color: transitionColour1;