@import "_colours.styl"
@import "_standards.styl"

max-bar-width = 155px;
    
.laboured-hours
    box-style()
    padding: 9px 10px 6px
    float: right
    width: 245px
    text-align: right
    margin: 10px 0
    overflow: hidden

    span
        font-size: 12px
        color: transitionColour2;
        strong
            color: transitionColour1;

    .gauge
        height: 10px;
        background: transitionColour3
        width: max-bar-width
    
    .gauge-marks
        border: 2px solid darkBlueColour;
        border-top: none;
        border-bottom: none;
        height: 10px;
        margin-right: 50px;
        position: absolute;
        width: max-bar-width - 4px

    .bar
        height: 10px;
        background: transitionColour2
        border-radius: 2px;
        transition: ease-in width .3s

        &.less-hours
            background: errorLightColour
        &.more-hours
            background: successLightColour