@import "_colours.styl"

fieldsWidth = 375px

.login-content
	width: 400px;
	margin: 0;

	.login-field
		min-height: 60px;

		input
			font-size: 19px;
			padding: 11px;
			width: fieldsWidth;

	button.send
		padding: 11px;
		width: fieldsWidth;
		margin: 0;
		font-size: 19px;
		height: 45px;
