@import "_colours.styl"

.login-field
	min-height: 70px;
	clear: both;

	input
		display: block;
		float: left;
		font-size: 30px;
		padding: 6px 12px;
		width: 204px;
		box-shadow: inset 2px 2px 10px rgba(0,0,0,.2);
		border-radius: 5px;
		transition: box-shadow linear .3s;
		border: 2px solid transitionColour3;
		&:focus
			outline: none;
			background-color: #FFC;
			box-shadow: none;

	label
		width: 60px;
		margin-right: 10px;
		font-size: 11px;
		float: left;
		text-align: right;

