@import "_colours.styl"
@import "_standards.styl"

* 
	font-family: 'Arial', sans-serif
	color: commonTextColour
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline

body
	background-color: backgroundColour

a, button
	transition linear all .2s

input, select
	box-style()
	transition: background linear .2s, border linear .2s
	&:focus
		outline: none
		border-color: focusInputColour
	&[disabled]
		background: white
		opacity: .6

.column
	width: calc(50% - 20px)
	float: left
	padding: 0 10px

.projection
	color: secondaryTextColour
	font-size: 12px

	strong
		color: secondaryTextColour

.send[disabled]
	opacity: 0.5

.time-management-container
	padding-bottom: 40px

.time-management-content:first-of-type
	padding-right: 80px

.send
	font-size: 24px
	display: block
	font-weight: bold
	margin: 10px 0 0 70px
	width: 230px
	height: 64px
	background-color: darkBlueColour
	color: #fff
	border-radius: 5px
	cursor: pointer
	&:focus
		outline: none
		border: focusInputColour solid 2px;
		text-shadow: 0 0 10px rgba(255,255,255, .6)
	&:hover
		background-color: transitionColour1

.page-not-found
	.send
		margin: 30px 0 0 0