@import "_colours.styl"

* 
	font-family: 'Arial', sans-serif
	color: commonTextColour
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline

body
	background-color: backgroundColour

a, button
	transition linear all .2s

input
	border-radius: 5px;
	transition: background linear .2s;
	border: 2px solid transitionColour3;
	&:focus
		outline: none;
		background-color: focusInputColour;
		box-shadow: none;

.column
	width: calc(50% - 20px);
	float: left;
	padding: 0 10px;

.projection
	color: secondaryTextColour;
	font-size: 12px;

	strong
		color: secondaryTextColour;

.send[disabled]
	opacity: 0.5;

.time-management-container
	padding-bottom: 40px;

.time-management-content:first-of-type
	padding-right: 80px;

.remaining, .projection
	font-size: 14px;
	color: #777;
	clear: both;
	text-align: right;
	margin: 0 0 4px;

.react-datepicker
	float: right;
	margin-bottom: 20px;

.current-date
	font-size: 18px;
	background: transitionColour2;
	color: transitionColour1;
	margin-bottom: 50px;
	padding: 20px 50px;
	strong
		color white;
		font-size: 24px;

.changeRouteLink
	display: inline-block;
	text-align: left;
	margin: 10px auto auto 70px;
	font-size: 14px;

.send
	font-size: 24px;
	display: block;
	font-weight: bold;
	margin: 10px 0 0 70px;
	width: 232px;
	height: 64px;
	background-color: darkBlueColour;
	color: #fff;
	border-radius: 5px;
