@import "_colours.styl"

* 
	font-family: 'Arial', sans-serif
	color: commonTextColour
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline

body
	background-color: backgroundColour

h2
	font-size: 24px;
	line-height: 21px;
	margin: 0 0 30px 70px;

.column
	width: calc(50% - 20px);
	float: left;
	padding: 0 10px;

.projection
	color: secondaryTextColour;
	font-size: 12px;

	strong
		color: secondaryTextColour;

.send[disabled]
	opacity: 0.5;

.time-management-container
	padding: 40px;

.time-management-content:first-of-type
	padding-right: 80px;

.time-show-content
	margin: 0 auto;
	padding-right: 80px;
	text-align: right;
	float: right;
	
	.static-time
		font-size: 48px
		font-weight: bold

		span
			color: #ccc
	
		label 
			width: 80px;
			margin: 10px 20px auto 0;
			font-size: 15px;
			float: left;
	
		&.emphasis
			span
				color: #777

.current-date
	text-align: center;
	color: darkBlueColour;
	margin-bottom: 40px;

.remaining, .projection
	font-size: 14px;
	color: #777;
	clear: both;
	text-align: right;
	margin: 0 0 4px;

.react-datepicker
	float: right;
	margin-bottom: 20px;

.changeRouteLink
	display: inline-block;
	text-align: left;
	margin: 10px auto auto 70px;
	font-size: 14px;