* {
	font-family: 'Arial', sans-serif;
  color: #777;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline
}
body {
	background-color: #fafafa;
}
h1 {
	font-size: 20px;
	text-align: right;
}
h2 {
	font-size: 24px;
	line-height: 21px;
	margin: 0 0 30px 70px;
}
.column {
	width: calc(50% - 20px);
	float: left;
	padding: 0 10px;
}
.remaining, .projection {
	font-size: 14px;
	color: #777;
	clear: both;
	text-align: right;
	margin: 0 0 4px;
}
.time-management-container {
	padding: 40px;
}
.time-management-content:first-of-type {
	padding-right: 80px;
}
.current-date {
	text-align: center;
	color: #254356;
	margin-bottom: 40px;
}
.projection {
	color: #AAA;
	font-size: 12px;
}
.projection strong {
	color: #AAA;
}
.react-datepicker {
	float: right;
	margin-bottom: 20px;
}
.send[disabled] {
	opacity: 0.5;
}
