@import "_colours.styl"
@import "_standards.styl"

.select-group
	min-height: 40px;
	label
		label-style();
	select
		box-style();
		width: 230px;
		font-size: 13px;
		padding: 4px;
		background-color: white;
		margin-bottom: 20px;
	.select-group-replacement
		font-size: 14px;