@import "_colours.styl"
	
.time-group
	min-height: 70px;
	clear: both;

	label
		width: 60px;
		margin-right: 10px;
		font-size: 11px;
		float: left;
		text-align: right;

		.emphasis &
			font-size: 13px;
	
	.separator
		display: block;
		float: left;
		font-size: 24px;
		width: 10px;
		text-align: center;
		margin: 10px 8px;

	input
		&.minutes, &.hours
			display: block;
			float: left;
			font-size: 30px;
			padding: 6px 12px;
			width: 75px;
			border-radius: 5px;
			transition: box-shadow linear .3s;
			border: 2px solid transitionColour3;
			&:focus
				outline: none;
				border: 2px solid focusBorderColour;
				background-color: #FFC;
				box-shadow: none;

.time-group input::placeholder
	color: fadedTextColour;

