@import "_colours.styl"

.time-show-content
	margin: 0 auto
	padding-right: 80px
	text-align: right
	float: right
	
	.static-time
		font-size: 48px
		font-weight: bold

		span
			color: transitionColour3
	
		label 
			width: 80px
			margin: 10px 20px auto 0
			font-size: 15px
			float: left
			color: transitionColour2
	
		&.emphasis
			span
				color: transitionColour1

.send-today 
	span
		display: block;
		padding: 20px;
		strong
			color: black