@import "_colours.styl"

.userDetails
	display: table;
	table-layout: fixed;
	float: right;

	.employeeName
		display: table-cell;
		color: white
		padding: 6px 10px 20px;

	&.unlogged
		display: table-cell;
		height: 1px;
