@import "../../styles/_colours.styl"

max-bar-width = 155px
    
.gauge-bar
    background: white
    margin-bottom 2px
    border: 1px solid transitionColour1
    .wrapper
        height: 10px
        background: transitionColour3
        width: max-bar-width

    .marks
        border: 2px solid darkBlueColour
        border-top: none
        border-bottom: none
        height: 10px
        margin-right: 50px
        position: absolute
        width: max-bar-width

    .bar
        height: 10px
        background: transitionColour2
        border-radius: 2px
        transition: ease-in width .3s

        &.debt
            background: errorLightColour
        &.surplus
            background: successLightColour