@import "../../styles/_colours.styl"
@import "../../styles/_standards.styl"

.LabourStatistics
    box-style();
    padding: 9px 10px 6px;
    width: 245px;
    text-align: right;
    margin: 10px 0;
    overflow: hidden;
