@import "../../styles/_colours.styl"
@import "../../styles/_standards.styl"

.LabourStatistics
    padding: 20px 20px 6px;
    text-align: right;
    margin: 10px 0 10px 15px;
    width: calc(100% - 15px);
