@import "../../styles/_colours.styl"

.react-datepicker
	border: 0
	background-color: transparent
	width: calc(100% - 15px)
	margin: 30px 0 30px 15px;

	&__month-container
		width 100%

	&__header
		width 100%
		background: transparent
		border: 0
		border-bottom: 1px solid transitionColour1
		border-radius: 0

	&__current-month
		color: darkBlueColour
		text-transform: uppercase

	&__day
		color: white
		transition: background .3s, color .3s
		border-radius: 0

		&:hover
			border-radius: 0
			background: alpha(white, .2)

		&--weekend
			opacity: .6

		&--disabled
			color: transitionColour3

		&.active
			color: darkBlueColour

		&--selected
			outline: none
			background transitionColour1
			color: focusColour

			&:hover
				background: transitionColour3

		&--outside-month
			opacity: .5

	&__day-name
		color: transitionColour3

	&__navigation--next
		border-left-color: white

	&__navigation--previous
		border-right-color: white


.calendar-checked, .calendar-unchecked, .calendar-vacation, .calendar-holiday
	position: relative

	&:after
		content: '✓'
		position: absolute
		top: 10px
		color: successPanelColour

.calendar-unchecked:after
	content: '✗'
	color: errorPanelColour

.calendar-vacation:after
	content: '🌴'
	color: #BF0
		
.calendar-holiday:after
	content: '✪'
	color: #FF0