@import "../../styles/_colours.styl"
@import "../../styles/_standards.styl"

.SelectGroup
	min-height: 40px;
	.label
		width 60px
		margin-right 10px
		font-size 11px
		float left
		text-align right
		clear: both;
		height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	select
		box-style();
		width: 230px;
		font-size: 13px;
		padding: 4px;
		background-color: white;
		margin-bottom: 20px;
	.select-group-replacement
		font-size: 14px;