@import "../../styles/_colours.styl"
@import "../../styles/_standards.styl"

.StatisticsDescription
	font-size: 11px
	color: transitionColour2;
	display: block;
	strong
		color: transitionColour1;
		margin-left: 4px;