@import "../../styles/_colours.styl"
@import "../../styles/_standards.styl"

.gauges
    box-style()
    padding: 9px 10px 6px
    width: 245px
    text-align: right
    margin: 10px 0
    overflow: hidden

    span
        font-size: 11px
        color: transitionColour2;
        display: block;
        strong
            color: transitionColour1;
            margin-left: 4px;
    .day-hours
        margin-bottom: 10px
    .week-hours
        margin-bottom: 15px
    .hour-bank span
        font-size: 13px