@import "_colours.styl"

.react-datepicker
	border: 2px solid transitionColour3
	border-radius: 7px
	width: 240px;

	&__header
		background: transitionColour3
		border: 0
		border-radius: 0

	&__current-month
		color: darkBlueColour
		text-transform: uppercase

	&__day
		color: transitionColour2
		transition: background .3s, color .3s

		&--weekend
			opacity: .6

		&--disabled
			color: transitionColour3

		&.active
			color: darkBlueColour

		&--selected
			background: transitionColour3
			color: white

		&--selected:hover
			background: transitionColour2

		&--outside-month
			opacity: .5

	&__day-name
		color: white

	&__navigation--next
		border-left-color: white

	&__navigation--previous
		border-right-color: white


.calendar-checked, .calendar-unchecked
	position: relative
	color: darkBlueColour

	&:after
		content: '✓'
		position: absolute
		top: 10px
		color: successPanelColour

.calendar-unchecked
	&:after
		content: '✗'
		color: errorPanelColour

.calendar-locked
	position: relative
	&:before
		content: '🔒'
		position: absolute
		left: -2px
		font-size: 9px
		top: -9px
		color: #000
		