@import "_colours.styl"
@import "_standards.styl"
	
.time-group
	min-height: 70px;
	clear: both;

	label
		label-style()

		.emphasis &
			font-size: 13px
	
	.separator
		display: block;
		float: left;
		font-size: 24px;
		width: 10px;
		text-align: center;
		margin: 10px 8px;

	input
		&.minutes, &.hours
			display: block;
			float: left;
			font-size: 30px;
			padding: 6px 12px;
			width: 102px;
			

.time-group input::placeholder
	color: fadedTextColour;

