@import "../../styles/_colours.styl"
@import "../../styles/_standards.styl"

.week-graph
    box-style()
    width: 245px
    padding: 9px 10px

    .gauge-bar:not(:last-child)
        margin-bottom: 5px