@import "../../styles/_colours.styl"
@import "../../styles/_standards.styl"

.weekly-calendar
    clear: both;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    height: 350px;

.rbc
    &-time-header
        .rbc-row:nth-of-type(2) // hack to not to show the "all-day" row
            display: none

    &-day-slot, &-header
        margin: 0 2px;

    &-label
        font-size: 12px;

    &-day-slot &-event
        border: 0;
        &-label
            color: rgba(255,255,255, .5);
            font-size: 10px;
            margin-bottom: 2px;
        &-content
            color: rgba(255,255,255, .7);
            font-size: 10px;

    &-today
        background-color: white;