@import "_colours.styl"
	
.static-time
	font-size: 48px
	font-weight: bold
	display: flex

	.time
		color: transitionColour3
		letter-spacing: -.05em
		width: 40%

	label 
		width: 60%
		margin: 10px 20px 0 0
		font-size: 15px
		line-height: 15px
		color: transitionColour2
		text-align: right

	&.emphasis
		.time
			color: transitionColour1
			