@import "../../styles/_colours.styl"

.userDetails
	display: table;
	table-layout: fixed;
	float: right;

	.employeeName
		display: table-cell;
		float: left;
		color: white;
		font-size: 12px
		margin-right: 20px
		vertical-align: middle;
		padding: 6px 10px 20px;
	
	a
		vertical-align: middle;

	&.unlogged
		display: table-cell;
		height: 1px;
