@import "../styles/_colours.styl"
@import "../styles/_standards.styl"

headerWidth = 62px

header
	background darkBlueColour
	width headerWidth
	align-self stretch
	border-top topBarWidth solid superDarkBlueColour

	&:after
		content ' '
		display block
		position absolute
		width 15px
		height 100%
		top 0
		left headerWidth
		border-top topBarWidth solid darkBlueColour
		background transitionColour1

	h1
		text-align left
		color transitionColour1
		font-size 70px
		letter-spacing -.05em
		margin-left 50px
		height headerWidth
		transform: rotate(-90deg) translate(-270px, -24px)