@import "../styles/_colours.styl"
@import "../styles/_standards.styl"

* 
	font-family: 'Arial', sans-serif
	color: commonTextColour
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline

body
	background-color: backgroundColour

a, button
	transition linear all .2s

input, select
	box-style()
	transition: background linear .2s, border linear .2s
	&:focus
		outline: none
		border-color: focusInputColour
	&[disabled]
		background: white
		opacity: .6

.columns
	display: flex
	width: 80%;
	margin: 0 auto;
	@media (max-width: 775px)
		flex-direction: column

	.column
		padding-bottom: 30px;
		&-half
			width: 50%;
			@media (max-width: 775px)
				width: 100%;
		&-right-aligned
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: flex-end
			padding-right: 40px
			@media (max-width: 775px)
				display:block
		

.send[disabled]
	opacity: 0.5

.send
	font-size: 24px
	display: block
	font-weight: bold
	margin: 10px 0 0 70px
	width: 230px
	height: 64px
	background-color: darkBlueColour
	color: #fff
	border-radius: 5px
	cursor: pointer
	&:focus
		outline: none
		border: focusInputColour solid 2px;
		text-shadow: 0 0 10px rgba(255,255,255, .6)
	&:hover
		background-color: transitionColour1

button.send-login
	padding: 11px;
	width: 100%;
	margin: 0;
	font-size: 19px;
	height: 45px;